.header {
    background-image: url(../pictures/start-screen-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: header;
}

.header-flex {
    margin: 40px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a {
    text-decoration: none;
}

.header-logo {
    margin-left: 40px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-area: header-logo;

}

.header-logo-a {
    color: #F1CDB3;
    cursor: default;
}

.header-logo-1 {
    margin:0;
    font-family: Georgia;
    font-weight: 400;
}

.header-logo-2 {
    font-family: Arial;
    line-height: 35.2px;
    font-size: 13px;
    color: #FFFFFF;
    margin-left: 3px;
    font-weight: 400;
    letter-spacing: 0.7px;
}

.header-nav {
    margin-right: 20px;
    font-family: Arial;
    display: flex;
    justify-content: flex-end;
}

.header-nav-a {
   padding: 0 20px ;
   color: #CDCDCD;
   transition: color 300ms ease-in;
}

.header-nav-a:hover {
    color: #FAFAFA;
}

.header-nav-about {
   margin: 0 20px ;
   cursor: default;
   color: #FAFAFA;
   border-bottom: 3px solid #F1CDB3;
   padding: 3px 0;
}

@media (max-width: 1050px) {
   
    .main-button {
        align-self: center;
    }
    
}