.header {
    grid-area: header;
    background-image: url(../pictures/start-screen-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-rows: min-content auto;
    grid-template-areas: 
    "header-nav"
    "not-only";
}

.header-flex {
    grid-area: header-nav;
    margin: 40px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a {
    text-decoration: none;
}

.header-logo {
    margin-left: 40px;
    max-width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-area: header-logo;

}

.header-logo-a {
    color: #F1CDB3;
    cursor: default;
}

.header-logo-1 {
    margin:0;
    font-family: Georgia;
    font-weight: 400;
}

.header-logo-2 {
    font-family: Arial;
    line-height: 35.2px;
    font-size: 13px;
    color: #FFFFFF;
    margin-left: 3px;
    font-weight: 400;
    letter-spacing: 0.7px;
}

.header-burger {
    display: none;
}

.burger-menu {
   border-bottom: 2px solid #F1CDB3;
   width: 30px;
   padding: 4px 0;
}

.header-nav {
    font-size: 15px;
    margin-right: 20px;
    font-family: Arial;
    display: flex;
    justify-content: flex-end;
}

.header-nav-a {
   padding: 0 20px ;
   color: #CDCDCD;
   transition: color 300ms ease-in;
}

.header-nav-a:hover {
    color: #FAFAFA;
}

.header-nav-about {
   margin: 0 20px ;
   cursor: default;
   color: #FAFAFA;
   border-bottom: 3px solid #F1CDB3;
   padding: 3px 0;
}

.section-1 {
    grid-area: not-only;
}

.section-1-flex {
    margin-top: 100px;
    margin-left: 40px;
    margin-right: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.section-1-text {
    margin-bottom: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-title {
    margin-bottom: 50px;
    color: #FFFFFF;
    grid-area: section-title;
    font-size: 44px;
    font-weight: 400;
    font-family: Georgia;
    display: flex;
}

.main-text {
    padding-bottom: 50px;
    color: #CDCDCD;
    font-family: Arial;
    font-size: 15px;
    display: flex;
    align-items: center;
}

.main-button {
    margin-bottom: 50px;
    color: #292929;
    font-family: Georgia;
    font-size: 17px;
    grid-area: section-button;
}

.button {
    color: #292929;
    font-family: Georgia;
    font-size: 17px;
    background-color: #F1CDB3;
    border:#5B483A;
    grid-area: text-button;
    border-radius: 100px;
    padding: 15px 50px;
    transition: background-color 200ms ease-in;
}

.button:hover {
    background-color: #FDDCC4;
    transition: background-color 200ms ease-in;
}

.main-img {
    display:flex;
}


@media (max-width: 1279px) and (min-width: 767px) {
    .header-nav {
        font-size: 13px;
    }

    .main-dog {
        height: 593px;
        width: 569px;
    }

    .section-1-text {
        width: 100%;
      }
   
      .main-title {
       align-self: center;
      }
   
      .main-text {
       align-self: center;
       text-align: center;
      }
  
      
      .main-button {
          align-self: center;
          margin-left: 25px;
      }
  
      .main-img {
          width: 100%;
          justify-content: flex-end;
      }
  
}

@media (max-width: 767px) and (min-width: 320px) {
    .button:hover {
        background-color: #F1CDB3;
    }

    .section-1-text {
        width: 100%;
      }
   
      .main-title {
       align-self: center;
      }
   
      .main-button {
          align-self: center;
          margin-left: 25px;
      }
  
    .main-img {
        width: 100%;
        justify-content: flex-end;
    }
  
    .header-burger {
        margin-right: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        z-index: 3;
        transition: transform 500ms;
    }
    
    .main-dog {
        height: 271px;
        width: 260px;
    }
    
    .main-img {
        justify-content: center;
    }
    
    .main-text {
        text-align: center;
        margin: 0 10px;
    }
    
    .section-1-flex {
        margin-left: 0;
        margin-right: 0;
    }
    
    .main-title {
        font-size: 33px;
        text-align: center;
    }
    
    .header {
        position: relative;
    }
    
   .body.open {
        overflow: hidden;
    }

    .header-burger.open {
        transform: rotate(90deg);
        transition: transform 500ms;
    }

    .header-background {
        position: absolute;
        height: 100vh;
        width: 100%;
        opacity: 0;
        transition: opacity .5s, background-color .5s;
    }
   
    .header-background.open {
        background-color: black;
        opacity: 0.5;
    }
    
    .header-nav {
        height: 100vh;
        position: absolute;
        right: -320px;
        top: 0px;
        font-size: 32px;
        margin-right: 0;
        width: 320px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #292929;
        z-index: 2;
        transition: transform 500ms;
    }
    
    .header-nav-about {
        margin-bottom: 25px;
    }

    .header-nav-a {
        padding-bottom: 25px ;
    }

    .header-nav.open{
        transform: translateX(-100%);
        visibility: visible;
        transition: transform 500ms;
    }


}

