.header {
    background-image: url(../pictures/start-screen-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.3fr 1fr;
    grid-template-areas: 
    "header-empty header-empty"
    "header-logo header-nav"
}

a {
    text-decoration: none;
}

.header-logo {
    margin: 10px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-area: header-logo;
}

.header-logo-a {
    color: #F1CDB3;
    cursor: default;
}

.header-logo-1 {
    margin:0;
    font-family: Georgia;
    font-weight: 400;
}

.header-logo-2 {
    font-family: Arial;
    line-height: 35.2px;
    font-size: 13px;
    color: #FFFFFF;
    margin-left: 3px;
    font-weight: 400;
    letter-spacing: 0.7px;
}

.header-nav {
    font-family: Arial;
    margin-bottom: 10px;
    grid-area: header-nav;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header-nav-a {
   color: #CDCDCD;
   transition: color 300ms ease-in;
}

.header-nav-a:hover {
    color: #FAFAFA;
}

.header-nav-about {
   cursor: default;
   color: #FAFAFA;
   border-bottom: 3px solid #F1CDB3;
   padding: 3px 0;
}

@media (max-width: 768px) {
     .header {
        grid-template-columns: 0.5fr 2fr;
        grid-template-areas: 
        "media-header-logo media-header-nav";
     }
     
     .header-logo {
        grid-area: media-header-logo;

     }

     .header-nav {
        grid-area: media-header-nav
     }
}