@import url(../style.css);
@import url(../footer/footer.css);

.body {
    margin: 0;
}

.header {
    background: #FFFFFF;
}

.header-logo-a {
    color: #545454;
}

.header-logo-2 {
    color: #292929;
}

.header-nav-a {
    color:#545454;
    transition: color 300ms ease-in,
}

.header-nav-a:hover {
    color: #292929;
}

.header-nav-our {
    margin: 0 20px;
    cursor: default;
    border-bottom: 3px solid #F1CDB3;
    color: #292929;
} 

.main {
    row-gap: 40px;
    background: #F6F6F6;
    height: 1342px;
    display: grid;
    grid-template-rows: 1fr 4fr 4fr 1fr;
    grid-template-areas: 
    "title"
    "content-1"
    "content-2"
    "button";
}

.main-title {
    letter-spacing: 0.5px;
    color: #545454;
    font-size: 35px;
    text-align: center;
    grid-area: title;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.main-blocks {
    grid-area: content-1;
}

.main-blocks-2 {
    grid-area: content-2;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.main-block-3 {
    grid-area: button;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.main-arrow {
    padding: 0 10px;
}

.arrow-img-3 {
    cursor: not-allowed;
    padding: 20px 13px;
    border: #CDCDCD 2px solid;
    border-radius: 100px;
}

.arrow-img-2 {
    cursor: not-allowed;
    padding: 19px 20px;
    border: #CDCDCD 2px solid;
    border-radius: 100px;
}

.arrow-img-4 {
    padding: 19px 20px;
    border: #F1CDB3 2px solid;
    border-radius: 100px;
    background-color: #F1CDB3;
}

.arrow-img {
    padding: 19px 20px;
}

.arrow-img-5 {
    cursor: pointer;
    padding: 20px 13px;
    border: #F1CDB3 2px solid;
    border-radius: 100px;
    transition: background-color 300ms ease-in;
}

.arrow-img-5:hover {
    background-color: #F1CDB3;
}