@import url(./main/main.css);
@import url(./header/header.css);
@import url(./footer/footer.css);

html {
    scroll-behavior: smooth;
}

a {
    cursor: pointer;
}

.body {
    height: 100vh;
    margin: 0;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
    "header"
    "main"
    "footer";
}