.footer {
    font-family: Georgia;
    letter-spacing: 1px;
    background-image: url(../pictures/footer-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: footer;
}

.footer-flex {
   margin-left: 10px;
   margin-right: 30px;
   display: flex;
   justify-content: space-between;
}

.footer-block {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 30px;
    margin-bottom: 30px;
    margin-right: 30px;
}

.footer-block-img {
    display: flex;
    align-items: center;
}

.footer-block-img-link {
    padding-right: 20px;
}

.block-link {
    color: #F1CDB3;
}

.footer-block-title {
    color: #FFFFFF;
    font-size: 35px;
    font-weight: 400;
}

.footer-block-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 30px;
    margin-right: 50px;
}

.footer-block-2 {
    display: flex;
    justify-content: flex-end;
    margin-top: 40px;
}

@media (max-width: 1279px) and (min-width: 767px) {
    .footer-flex {
        flex-wrap: wrap;
        justify-content: center;
      }
  
      .footer-block {
          margin-right: 50px;
          margin-top: 10px;
      }
  
      .footer-block-1 {
        margin-top: 10px;
      }

      .footer-block-2 {
          justify-content: center;
          width: 100%;
          margin-top:0;
      }
  
      .footer-block-title {
          margin-bottom: 30px;
      }
  
      .footer-block-img {
          margin-bottom: 30px;
      }
  
}

@media (max-width: 767px) and (min-width: 320px) {

    .footer-flex {
      flex-wrap: wrap;
      justify-content: center;
    }

    .footer-block {
        margin-right: 50px;
    }

    .footer-block-2 {
        justify-content: center;
        width: 100%;
        margin-top: 0;
    }

    .footer-block-title {
        margin-bottom: 30px;
    }

    .footer-block-img {
        margin-bottom: 30px;
    }

    .footer-img {
        height: 270px;
        width: 260px;
    }

    .footer-block-title {
        font-size: 25px;
        text-align: center;
    }
    
    .footer-flex {
        margin-left: 0;
        margin-right: 0;
        padding-top: 20px;
    }
}
