.body {
    background-color: burlywood;
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.line {
    display: grid;
    grid-template-columns: repeat(3, 20vmin);
    grid-template-rows: repeat(3, 20vmin);
    gap: 3vmin;
    background-color: #ad8c35;
}

.cell {
    position: relative;
    background-color: burlywood;
}
