.body {
    background-color: burlywood;
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .body-wrapper {
    display: flex;
    height: 100%;
    align-items: flex-end;
}
 */

.line {
    /* border: 1px solid rebeccapurple; */
    width: 100px;
}

.space {
    height: 100px;
    width: 100px;
    border: 1px solid black;
    border-bottom: 0px;
}