.body {
    margin: 0;
}

.header {
    height: 100px;
    background-color: #605f64;
}

.header-wrapper {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo {
    margin: 0 0 0 15px;
    font-size: 30px;
    font-family:'Times New Roman', Times, serif;
    color: #fff;
}

.form-wrapper {
    width: 70%;
    display: flex;
    justify-content: center;
}

.form {
    position: relative;
}

/* input[type="placeholder"] {
    appearance: none;
    color: #605f64 ;
}
 */
.input[type="search"] {
   appearance: none;
   border:none;
   height: 30px;
   width: 300px;
   border-radius: 15px;
   padding: 10px;
}

:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

.form-wrapper button {
  position: absolute; 
  top: 0;
  right: 0px;
  height: 30px;
  border: none;
  background: #fff;
  cursor: pointer;
  border-radius: 15px;
}

.button-img {
  height: 20px;
}

.main {
    grid-area: main;
}

.footer {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: flex-end;
  }
  
  .logo {
    height: 50px;
  }
  
  .link {
    margin: 0 20px 15px 20px;
    font-size: 25px;
    text-decoration: none;
    color: black;
  }
  
  .numbers {
    font-size: 25px;
    margin-bottom: 15px;
  }

@media (max-width: 650px) {
    .header-wrapper {
        flex-direction: column;
    }
}