.main {
    grid-area: main;
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: 
    "section-2"
    "section-3"
    "section-4"
    "section-5"
    ;
}

.section-2 {
    display: flex;
    justify-content: center;
}

.section-2-flex {
    margin: 100px 180px;
    display: flex;
    flex-wrap: wrap;
}

.main-img-2 {
    grid-area: img;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-2 {
   display: flex;
   flex-direction: column;
   justify-content: center;
   margin-left: 140px;
}

.main-title-2 {
    letter-spacing: 2px;
    color: #545454;
    font-family: Georgia;
    grid-area: text;
    font-size: 35px;
}    

.section-2-text {
    font-weight: 400;
    font-family: Arial;
    font-size: 15px;
    color: #4C4C4C;
    line-height: 24px;
}

.section-3 {
    background: #F6F6F6;
    grid-area: section-3;
    position: relative;
}

.main-section-3-flex {
    margin: 50px 25px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.main-title-3 {
    text-align: center;
    font-family: Georgia;
    font-size: 35px;
    color: #545454;
    line-height: 32.5px;
    font-weight: 400;
    letter-spacing: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.main-blocks {
    display: flex;
    justify-content: space-around;
}

.carousel-wrapper {
    margin: 0 20px 0 20px;
    width: 980px;
    overflow: hidden;
}

.carousel {
  position: relative;
  left: -910px;
}

@keyframes right {
    from {
        left: -980px;
    }

    to {
        left: 0;
    }
}

.carousel.active {
    animation-name: right;
    animation-duration: 2s;
}


.item {
    display: flex;
    justify-content: space-around;
}


.main-block {
  /*   flex: 0 0 calc(100% / 3); 
    box-sizing: border-box; */
    background-color: #FAFAFA;
    height: 435px;
    width: 270px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transition: 200ms;
    margin: 20px 50px 50px 0;
}

.main-block:hover .button-learn {
    background-color: #FDDCC4;
}

.main-word {
    display: flex;
    justify-content: center;
    font-family: Georgia;
    color: #545454;
    letter-spacing: 1px;
}

.main-button-2 {
    display: flex;
    justify-content: center;
}

.button-learn {
    border-radius: 100px;
    padding: 14px 50px;
    border: #FDDCC4 3px solid;
    color: #292929;
    font-family: Georgia;
    letter-spacing: 0.5px;
    background-color: #FAFAFA;
    transition: background-color 200ms ease-in;
}

.button-learn:hover {
    background-color: #FDDCC4;
    transition: background-color 200ms ease-in-out
}

.popap-body {
    display: none;
    opacity: 0;
}

.popap-body.active {
    opacity: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    transition: opacity 500ms;
    display: flex;
}

.popap-body.opacity {
    transition: opacity 500ms;
    opacity: 1;
 
}

@keyframes revers-opacity  {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.body.active {
    overflow: hidden;
}

.popap-background {
    border: 1px solid black;
    position: absolute;
    height: 100vh;
    width: 100%;
    opacity: 0;
}

.popap-background.active {
    opacity: 0.5;
    background-color: black;
}

.modale-window {
    margin: 100px;
    border-radius: 9px;
    height: max-content;
    background-color: #FAFAFA;
    position: relative;
    display: flex;
}

.popap-block {
   height: auto;
   width: auto;
}

.popap-img-dog { 
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 500px;
    height: 500px;
}

.popap-img-2 {
    height: 350px;
    width: 350px;
    margin-bottom: 70px;
}

.popap-text {
    height: 450px;
    padding: 25px;
    width: 400px;
    font-family: Georgia;
    letter-spacing: 1px;
}

.popap-text-2 {
    margin-top: 40px
}

.title-child-1 {
    font-size: 35px;
    font-weight: 400;
}

.title-child {
    font-weight: 400;
    font-size: 20px;
}

.li-child::marker {
    color: #F1CDB3;
    font-size: 20px;
}

.span-child {
    font-weight: 600;
}

.modale-button {
   position: absolute;
   top: -55px;
   right: -55px;
   margin: 0 10px;
}

.popap-img {
    cursor: pointer;
    border: 2px solid #FDDCC4;
    border-radius: 100px;
    padding: 20px 19px;
    transition: background-color 300ms ease-in;
}

.popap-img:hover {
    background-color: #FDDCC4;
}

/* .main-block:hover {
    transform: scale(1.1);
}
 */
.main-section-3 {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-button-3 {
    display: flex;
    align-items: center;
}

.button-3 {
    border-radius: 100px;
    padding: 14px 53px;
    background-color: #F1CDB3;
    border: #F1CDB3 3px solid;
    color: #292929;
    font-family: Georgia;
    font-weight: 400;
    letter-spacing: 0.5px;
    transition: background-color 200ms ease-in;
}

.button-3:hover {
    background-color: rgba(255, 255, 255, 0);
    transition:  background-color 200ms ease-in;
}

.main-arrow-3 {
    display: flex;
    align-items: center;
}


.main-arrow-2 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.main-arrow-media {
    display: none;
}

.main-arrow-media-2 {
    display: none;
}

.arrow-img {
    cursor: pointer;
    border: 2px solid #FDDCC4;
    border-radius: 100px;
    padding: 23px 19px;
    transition: background-color 300ms ease-in;
}

.arrow-img:hover {
    background-color: #FDDCC4;
    transition: background-color 300ms ease-in;
}

.section-4 {
    background: #FFFFFF;
    grid-area: section-4;
}

.section-4-flex {
    margin: 100px 0 100px 0;
}

.main-block-2-png {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.main-block-2-flex {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
}


.main-title-4 {
    margin-bottom: 100px;
    grid-area: title-4;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 35px;
    text-align: center;
    color: #545454;
    font-family: Georgia;
    letter-spacing: 0.5px;
}

.text-png {
    margin: 25px 6vw;
    display: flex;
    flex-direction: column-reverse; 
    text-align: center;
    color: #545454;
    font-size: 20px;
    font-family: Georgia;
}


.img-png {
    grid-area: img-1;
    padding: 20px 0;
}



.main-block-3 {
    grid-area: section-4;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.section-5 {
    font-family: Georgia;
    column-gap: 30px;
    background: #F6F6F6;
    grid-area: section-5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-5-flex {
    display: flex;
    flex-wrap: wrap;
    margin: 100px 0;
}

.main-dog-2 {
    margin-right: 20px;
    grid-area: dog;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


.main-block-4 {
    margin-bottom: 5px;
    grid-area: block-4-button;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.block-4-title {
    font-size: 35px;
    padding: 10px 0;
    margin-top: 20px;
}

.block-4-text {
    padding: 10px 0;
}

.main-block-5 {
    padding: 10px 0;
    background-color: #F1CDB3;
    padding: 7px 5px;
    border-radius: 9px;
    width: fit-content;
}

.block-5-img {
    padding: 0 10px;
    margin-right: 10px;
}

.block-5-text {
    padding-top: 20px;
    color: #B2B2B2;
    font-family: Arial;
    font-size: 12px;
    letter-spacing: 0.5px;
    line-height: 18px;
}

.block-5-numbers {
    font-size: 20px;
    font-family: Georgia;
    letter-spacing: 1px;
    padding: 0px 10px;
}

.block-5-number-card {
    display: flex;
    align-items: center;
}

.block-5-number-card-text {
    padding-right: 10px;
    color: #545454;
    cursor: default;
}

@media (max-width: 1279px) and (min-width: 767px) {

    .carousel-wrapper {
        max-width: 550px;
    }

    .main-block {
       margin:  20px 25px 50px 0;
    }

    .text-2 {
        margin: 0;
    }

    .section-2-flex {
        flex-direction: column-reverse;
    }  

    .main-img-2 {
        margin-top: 50px;
        margin-left: 50px;
    }

    .section-2-flex {
        margin: 100px 100px
    }

    .main-block-woody {
        display: none;
    }
    
    .section-5-flex  {
    flex-direction: column-reverse;
   }
    
   .main-block-4 {
    margin-left: 100px;
    justify-content: center;
   }

   .main-dog-2 {
    margin-top: 50px;
   }

   .main-dog {
    height: 593px;
    width: 569px;
  }

  .text-png-2 {
    display: flex;
    flex-direction: column-reverse; 
    text-align: center;
    color: #545454;
    font-size: 20px;
    font-family: Georgia;
   }

.main-block-2-png-2 {
    margin: 0;
    justify-content: space-between;
   }

   .popap-img-dog { 
    width: 330px;
    height: 350px;
   }

  .popap-img-2 {
    height: 250px;
    width: 250px;
    margin: 0;
   }

   .popap-text {
    height: 350px;
    width: 280px;
   }

    .popap-text-2 {
     margin: 0;
   }

   h1 {
    margin: 0;
   }
}

@media (max-width: 767px) and (min-width: 320px) {

    .carousel-wrapper {
        max-width: 270px;
        padding-left: 50px;
        margin: 0;
    }

    .main-block {
       margin:  20px 25px 50px 0;
    }
    
    .popap-text {
        height: 350px;
        width: 240px;
        margin-bottom: 10px;
    }

    .popap-text-2 {
        margin: 0;
      }
 
    h1 {
        margin: 0;
    }
 
    .modale-window {
        margin: 0;
    }
 
    .popap-title {
        text-align: center;
    }

    .modale-button {
        top: -60px;
        right: -20px;
    }

    .img-png {
        padding: 0 30px 0 30px;
    }

    .button-3:hover {
        background-color: #F1CDB3;
    }

    .arrow-img:hover {
        background-color: #F6F6F6;
    }

    .section-5-flex  {
        flex-direction: column-reverse;
       }

    .main-img-2 {
        margin-top: 50px;
        margin-left: 50px;
    }

    .text-2 {
        margin: 0 15px;
    }

    .section-2-flex {
        flex-direction: column-reverse;
    }  

    .main-block-woody {
        display: none;
    }

    .main-block-jennifer {
        display: none;
    }

    .main-arrow-3 {
        display: none;
    }
    
    .main-arrow-2 {
        display: none;
    }
    
    .main-section-3 {
        margin: 0;
        flex-direction: column;
    }

    .main-arrow-media {
        display: flex;
        padding-right: 40px;
    }
    
    .main-arrow-media-2 {
        display: flex;
        padding-left: 40px;
    }

    .arrow-container {
        display: flex;
        margin-top: 25px;
        margin-bottom: 40px;
    }

    .section-2-flex {
        margin: 100px 0;
    }

    .main-dog-cat {
        height: 350px;
        width: 260px;
    }

    .main-dog-2 {
        justify-content: center;
     }
 
     .main-dog-2-media {
         width: 260px;
         height: 135px; 
     }
 
     .section-4-flex {
         margin: 50px;
     }
 
     .main-title-2 {
         font-size: 25px;
         align-self: center;
         text-align: center;
     }
 
     .main-title-3 {
         font-size: 25px;
     }
 
     .main-title-4 {
         font-size: 25px;
     }
 
     .main-block-4 {
        align-items: center;
     }

     .block-4-title {
         font-size: 25px;
     }

     .section-4-flex {
        margin-left: 0;
        margin-right: 0;
    }

    .text-png {
        margin: 25px 10px;
    }

    .main-img-2 {
        margin-left: 0;
    }

   .main-section-3-flex {
    margin: 50px 0;
   }

   .text-br {
    display: none;
   } 

   .block-5-text {
    margin: 0 10px;
   }

   .popap-img-dog {
    display: none;
   }
}
